# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.suo

# Custom
*.sdf
*.opendb
*.tlog
*.pdb
*.ilk
*.log
Big-Int/Big-Int/~AutoRecover.Big-Int.vcxproj
*.enc
Big-Int/Big-Int/Debug/vc140.idb
